.DS_Store
.idea
*.iml

.metadata
.settings
.classpath
.project
.recommenders

target/**
*.log
**/application-dev.yml
/bin/
/RemoteSystemsTempFiles/
**/dev.boot.yml
**/bootstrap.yml
/target

#erp-view/node_modules/
#erp-view/dist/
#open-admin-view/node_modules/
#open-admin-background/node_modules/
